

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css">
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css
">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script> 
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script> 
</head>

<body>
<div data-role="page">
<div data-role="header">
<h1>Login Form</h1>
</div>
<div data-role="main" class="ui-content">
<form method="post" action="#pageone" data-ajax="false">
<label for="name">Email Address : <span>*</span></label>
<input type="email" name="email" id="email" placeholder="Email">
<label for="password">Password: <span>*</span></label>
<input type="password" id="pass" name="pass" placeholder="Password"/>
<input class="btn btn-lg btn-primary btn-block" type="submit" data-inline="true" value="Submit" data-theme="b">
</form>

</div>
<div data-role="footer">
<h1></h1>
</div>
</div>
</body>

